Host *
  AddKeysToAgent yes
{{- if (and (eq .chezmoi.os "darwin") (eq .usage "dev")) }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}

{{- if eq .usage "dev"}}

Host nextcloud
  Hostname {{ onepasswordRead "op://cxm6fghiidg3m27eoo5ppimivm/h7j47krd4fbvzfploouguweljm/ssh-Hostname" }}
  Port {{ onepasswordRead "op://cxm6fghiidg3m27eoo5ppimivm/h7j47krd4fbvzfploouguweljm/ssh-Port" }} 

Host wave
  Hostname {{ onepasswordRead "op://cxm6fghiidg3m27eoo5ppimivm/oioe5bpthk7citrdpi3nopgsge/ssh-Hostname" }}
  User {{ onepasswordRead "op://cxm6fghiidg3m27eoo5ppimivm/oioe5bpthk7citrdpi3nopgsge/ssh-User" }}
  Port {{ onepasswordRead "op://cxm6fghiidg3m27eoo5ppimivm/oioe5bpthk7citrdpi3nopgsge/ssh-port" }}

{{- end }}

Host github.com
  Hostname github.com
  User git
